.titulo-restaurante {
    font-size: 25px;
    margin-left: 4%;
}

.subtitulo{
    font-weight: bold;
}

.container-restaurante {
    margin: 0 auto;
}

.botoes {
    margin-bottom: 20px;
}

.remover {
    margin-left:5px;
    color:red;
}