<div class="modal-header">
    <h4 class="modal-title">Excluir</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4><b>Você deseja realmente excluir o registro abaixo</b>?</h4>
    <br>
    <h2>{{data}}</h2>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="activeDelete(true)">Sim</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeDelete(false)">Não</button>
</div>