<div class="page-header">
    <h3>Cadastrar Prato</h3>
</div>
<div class="row">
    <div class="col-md-8 container-pratos">
        <form class="col-md-8">
            <div class="form-row" class="col-md-6">
                <label class="subtitulo">Restaurante
                </label>
                <select name="nomeRestaurante" [(ngModel)]="pratos.idRestaurante" class="form-control">
                    <option *ngFor="let r of listaRestaurante" [ngValue]="r.idRestaurante">{{r.nomeRestaurante}}</option>
                </select>
                <label class="control-label" class="subtitulo">Nome do Prato
                    <input type="text" [(ngModel)]="pratos.nomePrato" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Digite o nome"
                        required>
                </label>
                <label class="control-label" class="subtitulo">Preço
                    <input type="text" currencyMask [(ngModel)]="pratos.valorPrato" [ngModelOptions]="{standalone: true}" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                        class="form-control" placeholder="Digite Preço" required>
                </label>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <button type="button" (click)="cadastrar()" class="btn btn-success">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Cadastrar</button>
                <a routerLink="/pratos">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
                </a>
            </div>
        </form>
    </div>
</div>