html, body {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}

.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    font-weight: bold;
}

.logo-icon {
    margin-right: 5px;
}